
body {
    background-color: #e6ffff;
}

hr {
    border-color: grey;
    border-width: 2px;
    border-style: none;
    border-top-style: dotted;
    height: 23px;
    width: 15%;

}

h1 {
    color: blue
}