{% extends 'layout.html' %}

{% block title %}Blog!!!{%  endblock title %}

{% block inside_body %}
    <a href="{{ url_for('home_page') }}">Home</a>
    <hr>
    <p>Practicing the if statemetn in jinja</p>
    {% for post in allposts: %}
        {% if post['id'] == num: %}
            <h3>{{ post['id'] }}: {{ post['title'] }}</h3>
            <h4>{{ post['subtitle'] }}</h4>
            <p>{{ post['body'] }}</p>
            <hr>

        {% endif %}
    {% endfor %}
    <br>
    <br>
    <br>
    <a href="{{ url_for('blog_page')}}">back</a>
{%  endblock inside_body %}

{% block year %}{{ year }}{% endblock year %}



